# GMMIX
# coco, flicker 
GMMIX/dataset/

# Self-MM
# mosi, mosei, sims
Self-MM/dataset/

# Pretraining model
Self-MM/pretrained_model/

# Self-MM parameter
Self-MM/results/

# GMMIX parameter


# GMMIX log
GMMIX/log/
GMMIX/wandb/

# Self-MM log
Self-MM/logs